* {
    margin: 0;
    padding: 0;
    border: 1px solid red;
    font-family: 'Roboto';
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-section, .bottom-section, .random-information, .sign-up {
    margin: 0 200px;
}

/*------- Header -------*/

header {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #1F2937;
    padding-bottom: 100px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 30px;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 520px;
    height: 230px;
    background-color: rgb(123, 126, 133);
}
  
li {
  list-style-type: none;
}

.top-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.bottom-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.description, .sign-up-button, .placeholder {
    font-size: 18px;
    color: #E5E7EB;
}

.left-section {
    display: flex;
    flex-direction: column;
    /* how to make it so that it is even? */
}

.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-button {
    background-color: #3882f6;
    padding: 5px;
    width: 130px;
    border-radius: 10px;
}

/*------- Middle sections -------*/

/*--- Info ---*/
.information-header {
    padding: 20px;
    margin: 30px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.random-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.infos {
    display: flex;
    text-align: center;
    gap: 30px;
}

.info-img {
    height: 150px;
}

/*--- Quote ---*/
 
.quote-section {
    background-color: #E5E7EB;
    padding: 100px 350px;
    color: #1F2937;
}

.inspiring-quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signature {
    text-align: end;
    font-size: 22px;
    font-weight: 600;

}


/*--- Sign-up ---*/



/* .sign-up-button-2 {} */


/*------- Footer -------*/
footer {
    display: flex;
    justify-content: center;
    align-content: center;
  }